body {
  background-image: url('http://cch5ng.github.io/quote-generator/media/nicolas_raymond_winter_daisy.jpg');
  color: #000;
  font-family: 'Laila', serif;
}

h2 {
	text-align: center;
}

p {
	font-size: 1.25em;
	text-align: center;
}

.container {
}

.buttons {
	margin: 0 auto;
}

.btn {
	background-color: #0b75b4;
	font-size: 1.25em;
	display: block;
	margin: 10px auto;
}

.quote {
	margin-top: 20px;
	font-size: 1.4em;
}

.source {
	text-align: center;
	font-style: italic;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  body {
    background-image: url('http://cch5ng.github.io/quote-generator/media/nicolas_raymond_winter_daisy.jpg');
  }
}